<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../public/media/gamecontroller.svg">
    <title>Home Page</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="mainNav">Home</a>
            <a href="/advancedSearch" class="mainNav">Advanced Search</a>
            <a href="/requestWishlist" class="mainNav">Wishlist</a>
            <a href="/users/resetpassword" class="loggedin">Reset Password</a>
            <a href="/users/deleteaccount" class="loggedin">Delete Account</a>
            <a href="/users/logout" class="loggedin">Logout</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <form action="/search/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>
        <h1>Featured Games / Latest Releases</h1>
        <div class="gamebox">
            <% for(let i=0; i < 6; i++) { %>
                <hr>
                <div class="gameTitle">
                    <h2><%= `${games[i].name}` %></h2>
                    <img src="<%= `${games[i].background_image}`%>" 
                    alt="<%=`${games[i].name}`%>">
                </div>
                <table id="gameinfo">
                    <tr>
                        <th scope="row">Metacritic:</th>
                        <td>
                            <%= `${games[i].metacritic}` %>
                        </td>
                    </tr>  
                    <tr>
                        <th scope="row">Genres:</th>
                        <td>
                            <% for(let j=0; j < games[i].genres.length; j++) {%>
                                <%= `|     ` + `${games[i].genres[j].name}` + `     |` %>   
                                 
                            <% }%>                       
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Platforms:</th>
                        <td>
                            <% for(let j=0; j < games[i].platforms.length; j++) {%>
                                    <%=  `|     ` + `${games[i].platforms[j].platform.name}` + `     |` %>
                            <% }%>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Stores:</th>
                        <td>
                            <% for(let k=0; k < games[i].stores.length; k++) {%>

                                    <%= `|     ` + `${games[i].stores[k].store.name}` + `     |` %>

                            <% }%>
                        </td>
                    </tr>
                </table>
            <%} %>
        </div>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
        Data Provided by RAWG Video Games Database API 
        <a href="rawg.io">rawg.io</a>
    </footer>
</body>
</html>