<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <title>Game Information</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">My Home Page</a>
            <a href="/advancedSearch">Advanced Search</a>
            <a href="/requestWishlist">Wishlist</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <form action="/search/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>

        <h1>
            <%= `${games[0].games_title}` %>
        </h1>
        <form action="/addWishlist/" method="post" id="addWishlist">
            <label for="user_email">Your Email Address: </label> <br>
            <input type="text" name="user" id="user_email" required> <br>
            <label for="platform_request">Platform: </label> <br>
            <select name="platform_request" id="platform_request">
                <% for(let i=0; i < games.length; i++) {%>
                    <option value="<%= `${games[i].platform_id}`%>">
                        <%= `${games[i].platform_name}` +  `(${games[i].store_name})`%>
                    </option>
                    <% } %>
            </select>
            
             <br>
            <input type="hidden" name="game_id_num" value="<%= `${games[0].games_id}`%>">
            <button type="submit">Add To Wishlist</button>
        </form>
        <output form="addWishlist"> </output>
        <h2>Supported Systems</h2>
        <% for(let i=0; i < games.length; i++) {%>
            <ul>
                <li>
                    <%= `${games[i].platform_name}` %>
                        <a href="<%= `${games[i].store_url}`%>">
                            <%= `${games[i].store_name}`%>
                        </a>
                </li>
            </ul>
            <% } %>
                <h2>Additional Information</h2>
                <ul>
                    <li>
                        Released Date:
                        <%= `${games[0].game_release_date}` %>
                    </li>
                    <li>
                        Developer:
                        <%= `${games[0].dev_name}` %>
                    </li>
                    <li>
                        Metacritic Score:
                        <%= `${games[0].games_score}` %>
                    </li>
                    <li>
                        ESRB Rating:
                        <%= `${games[0].games_age_rating}` %>
                    </li>
                    <li>
                        <ul>
                            <h3>Genre: </h3>
                            <% for(let i=0; i < games_genre.length; i++) {%>
                                <li>
                                    <%= `${games_genre[i].genre_name}` %>
                                </li>
                                <% } %>
                        </ul>
                    </li>
                </ul>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>