<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../../public/media/gamecontroller.svg">
    <title>Game Information</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="mainNav">Home</a>
            <a href="/advancedSearch" class="mainNav">Advanced Search</a>
            <a href="/requestWishlist" class="mainNav">Wishlist</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <form action="/search/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>
        <h1>
            <%= `${games[0].games_title}` %>
        </h1>
        <div id="gameImage">
            <img src="<%= `${games[0].games_img}`%>" 
                alt="<%= `${games[0].games_title}` %>">
        </div>
        
        <div id="system"> 
            <h2>Supported Systems</h2>
            <table>
                <% for(let i=0; i < games.length; i++) {%>
                <tr>
                    <th scope="row"><%= `${games[i].platform_name}` %></th>
                    <td>
                        <a href="<%= `${games[i].store_url}`%>">
                            <%= `${games[i].store_name}`%>
                        </a>
                    </td>
                </tr>  
                <% } %>
            </table> 
        </div>
        <form action="/addWishlist/" method="post" id="addWishlist">
            <label for="user_email">Your Email Address: </label> <br>
            <input type="text" name="user" id="user_email" required> <br>
            <label for="platform_request">Platform: </label> <br>
            <select name="platform_request" id="platform_request">
                <% for(let i=0; i < games.length; i++) {%>
                    <option value="<%= `${games[i].platform_id}`%>">
                        <%= `${games[i].platform_name}` +  `(${games[i].store_name})`%>
                    </option>
                    <% } %>
            </select>
             <br>
            <input type="hidden" name="game_id_num" value="<%= `${games[0].games_id}`%>">
            <button type="submit">Add To Wishlist</button>
        </form>   
        <output form="addWishlist"> </output>
        <table>
            <tr>
                <th scope="row">Released Date:</th>
                <td><%= `${games_date[0]}` %></td>
                <!-- <td><%= `${games[0].game_release_date}` %></td> -->
            </tr>
            <tr>
                <th scope="row">Developer:</th> 
                <td><%= `${games[0].dev_name}` %></td>
            </tr>
            <tr>
                <th scope="row">Metacritic Score:</th>
                <td><%= `${games[0].games_score}` %></td>
            </tr>
            <tr>
                <th scope="row">ESRB Rating:</th>
                <td><%= `${games[0].games_age_rating}` %></td>
            </tr>
            <tr>
                <th scope="row">Genre:</th>
                <% for(let i=0; i < games_genre.length; i++) {%>
                    <td><%= `${games_genre[i].genre_name}`%></td>
                <% } %>
            </tr>
        </table>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
        Data Provided by RAWG Video Games Database API 
        <a href="https://rawg.io/">rawg.io</a>
    </footer>
</body>

</html>