<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <title>Search</title>

</head>

<body>
    <header>
        <nav>
            <a href="/" class="mainNav">Home</a>
            <a href="/advancedSearch" class="mainNav">Advanced Search</a>
            <a href="/requestWishlist" class="mainNav">Wishlist</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
    </header>
    <main>
        <h1>Your Wishlist</h1>
        <form action="/wishlistSort/" method="post">
            <input type="radio" name="sort_type" id="alphabetical" value="alphabetical" required>
            <label for="alphabetical">By Alphabetical</label>
            <input type="radio" name="sort_type" id="metacritic_score" value="metacritic_score" required>
            <label for="metacritc">By Metacritic</label>
            <label for="sort_order">Sort Order</label>
            <select name="sort_order" id="sort_order">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <ul>
            <div class="gamebox">
                <% for(let i=0; i < games.length; i++) {%>
                    <hr>
                    <h2>
                        <a href="<%= '/game_info' + `/${games[i].games_id}`%>">
                            <%= `${games[i].games_title}` + `   (${games[i].platform_name})`%>
                            <img src="<%= `${games[i].games_img}`%>" 
                            alt="<%= `${games[i].games_title}` %>">
                        </a>
                    </h2>
                    <form action="/delWishlistItem/" method="post">
                        <input type="hidden" name="user_id_num" value="<%=`${games[i].user_id}`%>">
                        <input type="hidden" name="games_id_num" value="<%=`${games[i].games_id}`%>">
                        <input type="hidden" name="platform_id_num" value="<%=`${games[i].platform_id}`%>">
                        <button type="submit">Remove</button>
                    </form>
                    <table id="gameinfo">
                        <tr>
                            <th scope="row">Metacritic:</th>
                            <td><%= `${games[i].games_score}` %></td>
                        </tr>
                        <tr>
                            <th scope="row">ESRB Rating:</th>
                            <td><%= `${games[i].games_age_rating}` %></td>
                        </tr>
                    </table>    
                <% } %>
            </div>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
        Data Provided by RAWG Video Games Database API 
        <a href="https://rawg.io/">rawg.io</a>
    </footer>
</body>